materialidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- Tipos de importancia definidos-->
    <xs:simpleType name="TipoImportancia">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Alta" />
            <xs:enumeration value="Media" />
            <xs:enumeration value="Baja" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Tipos de impacto ASG definidos-->
    <xs:simpleType name="TipoImpactoASG">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ambiental" />
            <xs:enumeration value="Social" />
            <xs:enumeration value="Gobernanza" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Estructura general -->
    <xs:element name="empresa_sostenible">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="grupoDeInteres">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="stakeholder" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="importancia" type="TipoImportancia" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="temasMateriales">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tema_material" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="descripcion" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="nivelImpactoASG" type="TipoImpactoASG" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
